---

import MajorAdvices from '../../components/MajorAdvices';
import ReportWebVersion from '../../components/ReportWebVersion';
import GlobalLayout from 'src/layouts/GlobalLayout.astro';
import MajorArticleTimeline from 'src/components/MajorArticlesTimeline';
const latestVersion = '1.1';

---

      <GlobalLayout
        title="گزارش نظرسنجی انتخاب رشته"
        description="نظرسنجی انتخاب رشته، نگاهی داده‌محور به مسئلهٔ انتخاب رشته"
        canonical="https://10000rooz.com/surveys/major/"
      >
      <div class="layout-stack major-cat-clr">
        <article class="layout-stack" style="padding-bottom: var(--padding--xl);">
          <section class={`banner dark-theme`}>
            <div class="max-width--article flex column gap--s a-center">
              <h1 class="font-size--xxl">گزارش نظرسنجی انتخاب رشته</h1>
              <p class="font-size--xl font-weight--800 clr-white">
                نگاهی داده‌محور به مسئلهٔ انتخاب رشته
              </p>
              <p>
                انتخاب رشته یکی از مهم‌ترین مراحل زندگی ما به حساب می‌آید و بسیار مهم است که با اطلاعات کافی به سراغ آن
                برویم. این گزارش، ماحصل
                تجربیات ۲۲۶۹ نفر پاسخ‌دهنده است و مطالعهٔ آن می‌تواند دید بسیار خوبی نسبت به موضوع انتخاب رشته بدهد.
              </p>
              <div class="flex j-center">
                <a
                  class={`downloadButton margin-top--xl`}
                  href="/reports/10000rooz-major-report.pdf"
                  download="10000rooz-major-report.pdf"
                >
                  <!-- <Icon icon={ReceiveSquare} alt="" /> -->
                  دانلود رایگان گزارش
                </a>
              </div>
              <p class="fa-num">
                نسخهٔ
                {' '}
                {latestVersion}
              </p>
            </div>
          </section>
          <section aria-label="دربارهٔ گزاراش" class="max-width--article padding-block--l layout-stack">
            <p>
              وقتی به مسیر شغلی افراد مختلف نگاه می‌کنیم، متوجه می‌شویم که فارغ از هرچیزی، آغاز این مسیر، همواره به
              ایستگاهی به نام انتخاب رشته
              بازمی‌گردد؛ ایستگاهی که تأثیر آن را می‌توان در جای‌جایِ زندگی مشاهده کرد. نگاه درست به این مرحله از زندگی
              و درک چالش‌های آن، می‌تواند ما
              را به‌سمت مسیری درست هدایت کند و از سختی‌های راه، بکاهد.
            </p>
            <p>
              در این گزارش، به‌تفصیل از تجربهٔ زیستهٔ انتخاب رشتهٔ ۲۲۶۹ نفر سخن به میان آورده‌ایم.
            </p>
            <p>
              مطالعهٔ این گزارش می‌تواند دید خوبی نسبت به انتخاب رشته بدهد و به بهبود این تجربه کمک کند.
            </p>
            <p class="">
              اجرای این نظرسنجی با حمایت
              <a href="https://banaacc.ir/"> شتاب‌دهندهٔ استعداد بانا </a>
              ممکن شد.
            </p>
          </section>
          <section aria-label="توصیه‌ها" class="max-width--page layout-stack">
            <div class="max-width--article layout-stack">
              <h2>قبل از انتخاب رشته، این توصیه‌ها را ببینید</h2>
              <p>
                در پایان نظرسنجی از پاسخ‌دهندگان پرسیدیم که به کسانی که می‌خواهند به رشتهٔ شما بیایند چه توصیه‌ای
                می‌کنید. در جدول زیر ۱۵۰۰ توصیه برای
                رشته‌های مختلف را می‌توانید ببیند.
              </p>
              <p>برای دیدن توصیه‌های یک رشته، نام رشته را جستجو کنید.</p>
              <p>
                توصیه‌های کلی پاک شده‌اند؛ توصیه‌هایی مانند «برو دنبال علاقه‌ات»، «به هرچی علاقه داشته باشی، توش موفق
                می‌شی» و... .
              </p>
            </div>
            <MajorAdvices client:load />
          </section>
          <section aria-label="گزارش نظرسنجی، نسخهٔ وب" class="layout-stack">
            <div class="max-width--page  wp-article">
              <h2>گزارش نظرسنجی،‌نسخه وب</h2>
            </div>
            <ReportWebVersion client:load />
          </section>
          <section>
            <div class="max-width--page layout-stack-all  wp-article">
              <MajorArticleTimeline client:load />
            </div>
          </section>
        </article>
      </div>
      </GlobalLayout>

      <style lang='scss' is:global>

        .downloadButton {
  border-radius: var(--border-radius);
  background-color: #21aa74;
  color: white;
  font-weight: 700;
  border: none;
  padding: var(--padding--s);
  width: 100%;
  font-size: var(--font-size--l);
  line-height: 1;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: var(--gap--s);
}

.banner {
  padding-block: var(--padding--xl);
  background-color: var(--gray-3);
  isolation: isolate;
  position: relative;

  &::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url('/images/backgrounds/major-icons.svg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    opacity: 0.2;
    z-index: -1;
  }

  h1 {
    color: #21aa74;
  }
}

.pageWrapper {
  position: relative;
  background: var(--background-color);

  --filters-top: calc(var(--unit-size) * 3.5);
  /* --filters-height: 6rem; */
  /* --thead-top: calc(var(--filters-top) +  var(--filters-height)); */
  --thead-top: 4rem;
}

.stickyFilterBox {
  background: var(--background-color);
  position: sticky;
  top: calc(var(--unit-size) * 2);
  padding-top: var(--padding--l);
  /* box-shadow: var(--box-shadow); */
  z-index: 10;
}

.inputWrapper {
  width: 100%;

}

.input {
  font-size: var(--font-size--l);
  margin-block-start: 0.5rem;
  border: none;
  border-radius: var(--border-radius--xxs);
  padding: var(--padding--xxxs);
  display: block;
  border: 1px solid var(--clr-gray-7);
  width: 100%;
}

.table {
  --table-border-color: var(--clr-gray-7);
  table-layout: fixed;
  width: 100%;
  /* border-collapse: separate; */
  border-collapse: collapse;
  border-spacing: 0;
  outline-offset: -3px;
  /* border: 2px solid var(--table-border-color); */
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  max-width: var(--max-width--page);


  thead {
    background: var(--background-color);
    /* position: sticky; */
    /* top: var( --thead-top); */
    /* z-index: 13; */
  }

  td,
  th {
    font-size: calc(var(--font-size) * 1);
    letter-spacing: -0.02em;
    line-height: 1.75;
  }

  table {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
  }

  td {
    width: calc(var(--unit-size) * 6);
  }

  td+td {
    width: auto;
  }

  th {
    width: calc(var(--unit-size) * 6);
  }

  th+th {
    width: auto;
  }

  tr {
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .filter-rows {
    padding: 0
  }

  .filter-rows th {
    padding: 0
  }

  /* 
th:first-of-type {
  border-top-right-radius: var(--border-radius);
}

th:last-of-type {
  border-top-left-radius: var(--border-radius);
} */

  /*   
tr:last-child {
  td:first-child {
    border-bottom-right-radius: var(--border-radius);
  }
  
  td:last-child {
    border-bottom-left-radius: var(--border-radius);
  }
} */

  td,
  th {
    /* border: 0.5px solid var(--table-border-color); */
    padding: calc(var(--padding--xs) /2);
    direction: rtl;
    text-align: right;
  }

  tr:nth-of-type(2n) {
    background-color: var(--clr-gray-4);
  }

  tr:nth-of-type(2n + 1) {
    background-color: var(--clr-gray-2);
  }

  .title {
    background-color: var(--clr-primary-6);
    color: var(--clr-primary-12);
  }

}

.filtersWrapper {
/* padding-top: calc( 1 * var(--padding)); */
/* position: sticky; */
top: var(--filters-top);
/* height: var(--filters-height); */
z-index: 10;
background-color: var(--background-color);
}


.timeline-wrapper {
  --clr-primary: #21AA74;
  --the-size: calc(1 * var(--unit-size));
  --the-border-size: 0.25;
  --the-padding: calc(2 * var(--unit-size));
  --the-bg: var(--clr-primary);
  --the-bullet-color: rgb(255 255 255 / 0.4);

  padding: var(--the-padding);
  border-radius: var(--border-radius);


  background-color: var(--clr-primary);
}

.timeline {
  color: white;
  padding-inline-start: var(--the-padding);
  background-color: var(--clr-primary);
  border-radius: var(--border-radius);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: -0.8rem;
    inset-block-end: 0;
    width: calc(var(--the-border-size) * var(--the-size));
    height: 108%;
    background-color: var(--the-bullet-color);
    border-radius: var(--border-radius);
    transform: translate(50%, 0%);
    color: black;
  }
}

.timeline-item {
  a {
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset-inline-start: calc(-1 * (var(--the-padding)));
      inset-block-start: 0;
      transform: translate(50%, 10%);
      width: calc(1.1 * var(--the-size));
      height: calc(1.1 * var(--the-size));
      border: calc(var(--the-border-size) * var(--the-size)) solid var(--the-bullet-color);
      box-shadow: 0px 0px 0px calc(0.4 * var(--the-size)) var(--clr-primary);
      background-color: var(--clr-primary);
      border-radius: var(--border-radius);
      color: black;
    }
  }
}

.currentPage {
  --the-bullet-color: white;
  --the-border-size: 0.35;
  font-weight: 900;
}
</style>