---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContents from '@/components/TableOfContents';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data}>
  <div class='grid gap-2' style='grid-template-columns: 1fr 20rem; gap: 2rem;'>
    <div>
      <Content />
    </div>
		<div class='' style=" align-self: start; position: sticky; top: 0;">
      <TableOfContents client:media='(min-width: 50em)' headings={headings} />
    </div>

  </div>
</BlogPost>
