.excerpt {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.relatedArticleCard {
  background: var(--clr-primary-4);
  color: var(--clr-gray-11);
  margin: 0;
  h3 {
    color: var(--clr-primary-10);
  }
  box-shadow: none;
}