.partnerCard {
  border-radius: var(--border-radius);
  background: var(--clr-gray-5);
  padding: var(--padding) var(--padding--xl);
}


.sponsorCardWrapper {
  display: grid;
  gap: var(--gap);
  grid-template-rows: auto 1rem auto;
  justify-items: center;

}

.sponsorCard {
  grid-row: 1/3;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
  background: var(--clr-gray-5);
  border-radius: var(--border-radius);
}



.sponsorDescription {
  grid-row: 2/4;
  grid-column: 1/-1;
  padding: var(--padding--xxxs) var(--padding--xs);
  border-radius: var(--border-radius--l);
  background-color: var(--clr-primary);
  color: white;
  text-align: center;
  width: max-content;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    color: var(--clr-gray-9);
  }
}

.page {
  padding-block-end: var(--padding--xl);
}

.articleCardWP {
  background: var(--clr-primary-4);
  color: var(--clr-gray-11);

  h3 {
    color: var(--clr-primary-10);
  }

  box-shadow: none;
}


.logoWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap--xl);
  justify-content: center;

  @media screen and (max-width: 45rem) {
    flex-direction: column;
  }

  .logo {
    height: 3rem;
    /* min-width: 5rem; */
    /* max-width: 7rem; */
  }
}