.icon {
  vertical-align: text-bottom;
  color: currentColor !important;

  * {
    color: currentColor !important;
  }

  height: 1.25em;
  width: 1.25em;

  /* * {
    stroke-width: 2 !important;
} */
}

.hasTextAfter {
  margin-inline-start: 0.2em;
  /* padding-top: 0.25em; */
}

.iconMirrored {
  transform: scaleX(-1);
}