.wrapper {
  padding: 1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    vertical-align: text-bottom;
  }
}

.icon {
  @keyframes rotate {
    from {
      transform: rotate(0deg);
     }
  
  to {
    transform: rotate(360deg);
      }
  }
  animation: rotate 0.5s linear infinite;
}
