.logoImage {
  height: max-content;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction:column; */
  gap: var(--gap);
}

.logoSvg {
  width: 7.8rem;

  @media screen and (max-width: 50rem) {
    width: 6rem;
  }

  @media screen and (max-width: 20rem) {
    width: 5rem;
  }
}