---
import GlobalLayout from 'src/layouts/GlobalLayout.astro';
---
      <GlobalLayout >
    <div class="flex j-center column gap padding--xl">
      <p class="bold font-size--xl">404</p>
      <h1 class="font-size--xl">
        چیزی پیدا نشد.
      </h1>

      <p>
        آدرس را دوباره بررسی کنید.
      </p>
    </div>
  </GlobalLayout>
