---
import GlobalLayout from 'src/layouts/GlobalLayout.astro';
---
      <GlobalLayout
        title="دربارهٔ ۱۰۰۰۰روز"
        description="دربارهٔ ۱۰۰۰۰روز"
        canonical="https://10000rooz.com/about/"
      >
      <div class="max-width--article padding--page layout:stack">
        <h1>۱۰۰۰۰روز چیست؟</h1>
        <p class="bold">
          ۱۰۰۰۰روز پروژه‌ای است برای افزایش دانش و آگاهی درباره ساختن زندگی کاری بهتر
        </p>
        <p>
          مدت زیادی بود که این مسئله ذهنمان را مشغول کرده بود که در آینده چه کاره شویم. تا جایی که حتی تمام وقت به دنبال این سوال بودیم و خودش به یک وسواس برایمان تبدیل شده بود. البته وسواس به هیچ چیزی خوب نیست ولی درنهایت باعث شد اطلاعات زیادی از منابع مختلف درباره زندگی شغلی پیدا کنیم.
        </p>
        <p>
          اگرچه دیگر هیچ‌کدام از ما به صورت تمام وقت به دنبال این سؤال نیستیم ولی به نظرمان اطلاعاتی که پیدا کرده بودیم می‌توانست به بقیه هم کمک کند، به ویژه اگر یکجا، منطم و به راحتی در دسترس قرار گیرند. چون بیشتر این اطلاعات در منابع مختلف و غیرفارسی هستند و باید از محتواهای تبلیغاتی، سوگیرانه یا ویژه فرهنگ کشورهای دیگر جدا شوند.
        </p>
        <p>
          برای همین «۱۰۰۰۰ روز» را ساختیم و سعی کردیم هر آنچه نیاز است برای ساختن زندگی شغلی بهتر بدانیم را اینجا گرداوری کردیم.
        </p>
        <p>
          <a href="https://techpark.sharif.ir">پارک علم و فناوری دانشگاه صنعتی شریف</a>
          ، از ابتدا حامی ما شد و در راه‌اندازی «۱۰۰۰۰ روز» نقش بسیار بزرگی دارد. ما هنوز در ابتدای راه هستیم و برنامه‌های زیادی داریم. پس حتما ما را دنبال کنید و منتظر اتفاقات جدید باشید.
        </p>
        {/* <a href="https://10000rooz.ir/contact">تماس با ما</a>
    <a href="http://10000rooz.ir/work-with-us/">همکاری با ما</a> */}
      </div>
</GlobalLayout >

