---
import Svg from "@jasikpark/astro-svg-loader";

import GlobalLayout from 'src/layouts/GlobalLayout.astro';
// import ParkLogo from '@/public/logos/shariftechpark-logo.svg';
// import BanaLogo from '@/public/logos/bana-logo.svg';
// import DigargoonLogo from '@/public/logos/digargoon-logo.svg';
// import KarbonLogo from '@/public/logos/karbon-logo.svg';
// import BistTaSiLogo from '@/public/logos/bist-ta-si-logo.svg';
// import { allResources } from '@/.contentlayer/generated';
// import styles from '@/styles/home.module.scss';

import { getCollection } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro';
import Banner from '../components/Home/Banner.astro';
import ArticleSection from '../components/ArticleSection.astro';
import SponsorCard from '../components/SponsorCard.astro';
import PartnerCard from '../components/PartnerCard.astro';

// const { default: ParkLogo } = await import(`/public/logos/shariftechpark-logo.svg?raw`);
// const { default: BanaLogo } = await import(`/public/logos/bana-logo.svg?raw`);
// const { default: DigargoonLogo } = await import(`/public/logos/digargoon-logo.svg?raw`);
// const { default: BistTaSiLogo } = await import(`/public/logos/bist-ta-si-logo.svg?raw`);

 const selectedSlugs = [
    'choose-major',
    'get-help-with-choosing-major',
    'common-mistakes-in-choosing-college-major',
    'get-help-with-choosing-major',
    'admission-mechanism',
    'research-majors',
    'comparing-universities',
    'choose-job',
    'confusion-in-choosing-career',
    'why-mbti-is-bad-for-choosing-job',
    'get-a-job',
    'resume-writing',
    'job-interview',
    'when-passion-leads-to-born-out',
    'job-satisfaction',
    'job-interview',
  ];


	const posts = (await getCollection('blog')).filter((p) => { return selectedSlugs.includes(p.slug); }).map((p) => {
    return {
      title: p.data.title,
      slug: p.slug,
      description: p.data.description,
      tags: p.data.tags,
      image: p.data.image,
    };
  });

	  const getBlogDataBySlug = (slug: string) => { return posts.find((post) => { return post.slug === slug; }); };
---

<GlobalLayout 
        title="راهنمای مسیر شغلی"
        description="۱۰۰۰۰روز پروژه‌ای است برای افزایش دانش و آگاهی درباره ساختن زندگی کاری بهتر"
        canonical="https://10000rooz.com/"
     >
      <div class={`page max-width--page layout:stack gap--xxl`}>
        <Banner />
        <div class="layout-stack gap--xxl">
          <ArticleSection
            title="انتخاب رشته"
            slugs={[
              'choose-major',
              'get-help-with-choosing-major',
              'common-mistakes-in-choosing-college-major',
              'get-help-with-choosing-major',
              'admission-mechanism',
              'research-majors',
              'comparing-universities',
            ]}
            getBlogDataBySlug={getBlogDataBySlug}
            class="major-cat-clr"
          >
            <ArticleCard
              class="articleCardWP"
              slug="/surveys/major"
              link="/surveys/major"
              excerpt="انتخاب رشته یکی از مهم‌ترین مراحل زندگی ما به حساب می‌آید و بسیار مهم است که با اطلاعات کافی به سراغ آن برویم. این گزارش، ماحصل تجربیات ۲۲۶۹ نفر پاسخ‌دهنده است و مطالعهٔ آن می‌تواند دید بسیار خوبی نسبت به موضوع انتخاب رشته بدهد."
              title="نگاهی داده‌محور به مسئلهٔ انتخاب رشته"

            />
          </ArticleSection>
          <ArticleSection
            title="انتخاب شغل"
            slugs={[
              'choose-job',
              'confusion-in-choosing-career',
              'why-mbti-is-bad-for-choosing-job',
              // 'wrong-beliefs',
            ]}
            getBlogDataBySlug={getBlogDataBySlug}
            class="career-cat-clr"
          />
          <ArticleSection
            title="کار پیدا کردن"
            slugs={[
              'get-a-job',
              'resume-writing',
              'job-interview',
            ]}
            getBlogDataBySlug={getBlogDataBySlug}
          />
          <ArticleSection
            title="در محل کار"
            slugs={[
              'when-passion-leads-to-born-out',
              'job-satisfaction',
              'job-interview',
            ]}
            getBlogDataBySlug={getBlogDataBySlug}
            class="workplace-cat-clr"
          />

          <section aria-label="حامیان" class={`section layout:stack gap--xxl`}>
            <h2>حامیان </h2>
            <div class={`max-width--page logoWrapper`}>
              <SponsorCard
                name="پارک علم و فناوری دانشگاه صنعتی شریف"
                description="حامی راه‌اندازی ۱۰۰۰۰روز"
                link="https://techpark.sharif.ir/"
              >
                <Svg 
                slot='logo'
          src={import(`/public/logos/shariftechpark-logo.svg?raw`)}
          style="max-width: 20rem; max-height: 10rem; aspect-ratio: 2/1; width: 100%; height: 100%;"
          />
            </SponsorCard>
              <SponsorCard
                name="شتابدهنده استعداد بانا"
                description="حامی گزارش انتخاب رشته"
                link="https://banaacc.ir/"
              >
          <Svg 
                slot='logo'
          src={import(`/public/logos/bana-logo.svg?raw`)}
          style="max-width: 20rem; max-height: 10rem; aspect-ratio: 2/1; width: 100%; height: 100%;"
          />
          </SponsorCard>
            </div>
          </section>
          <section aria-label="همراهان " class={`section layout:stack gap--xxl`}>
            <h2>همراهان </h2>
            <div class="max-width--page flex wrap gap--xxl j-center ">
              <PartnerCard
                name="آژانس دیزاین دیگرگون "
                description="همراه ۱۰۰۰۰روز"
                link="https://digargoon.com/"
              >
   <Svg 
                slot='logo'
          src={import(`/public/logos/digargoon-logo.svg?raw`)}
          style="max-width: 20rem; max-height: 10rem; aspect-ratio: 2/1; width: 100%; height: 100%;"
          />
            </PartnerCard>
              <PartnerCard
                name="بیست‌تا‌سی"
                description="همراه ۱۰۰۰۰روز"
                link="https://20ta30.com/"
              >
                 <Svg 
                slot='logo'
          src={import(`/public/logos/bist-ta-si-logo.svg?raw`)}
          style="max-width: 20rem; max-height: 10rem; aspect-ratio: 2/1; width: 100%; height: 100%;"
          />
          </PartnerCard >
              <PartnerCard
                name="کاربن"
                description="همراه ۱۰۰۰۰روز"
                link="https://karbon.plus/"
              >
   <Svg 
                slot='logo'
          src={import(`/public/logos/karbon-logo.svg?raw`)}
          style="max-width: 20rem; max-height: 10rem; aspect-ratio: 2/1; width: 100%; height: 100%;"
          />
        </PartnerCard>
            </div>
          </section>
        </div>
      </div>

</GlobalLayout>
<style lang="scss" is:global>
.page {
  padding-block-end: var(--padding--xl);
}

.articleCardWP {
  background: var(--clr-primary-4);
  color: var(--clr-gray-11);

  h3 {
    color: var(--clr-primary-10);
  }

  box-shadow: none;
}


.logoWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap--xl);
  justify-content: center;

  @media screen and (max-width: 45rem) {
    flex-direction: column;
  }

  .logo {
    height: 3rem;
    /* min-width: 5rem; */
    /* max-width: 7rem; */
  }
}
</style>