---
import GlobalLayout from 'src/layouts/GlobalLayout.astro';

const { default: ParkLogo } = await import(`/public/logos/shariftechpark-logo.svg?raw`);
const { default: BanaLogo } = await import(`/public/logos/bana-logo.svg?raw`);
const { default: DigargoonLogo } = await import(`/public/logos/digargoon-logo.svg?raw`);
const { default: KarbonLogo } = await import(`/public/logos//karbon-logo.svg?raw`);
const { default: BistTaSiLogo } = await import(`/public/logos/bist-ta-si-logo.svg?raw`);

---
      <GlobalLayout
        title="حامیان و همراهان ۱۰۰۰۰روز"
        description="چه کسانی از ۱۰۰۰۰روز حمایت کردند و همراه ما بودند"
        canonical="https://10000rooz.com/sponsors/"
     >
      <div class="max-width--page layout:stack gap--xxl" style={{ paddingBlockEnd: 'var(--padding--xl)' }}>
        <h1>حامیان و همراهان ۱۰۰۰۰روز</h1>
        <div class="layout-stack gap--xxl">
          <section aria-label="حامیان" class="layout:stack gap--xxl">
            <h2>حامیان</h2>
            <h3>پارک علم‌وفناوری شریف</h3>
            <ParkLogo style="width: 20rem; height: 10rem;" />
            <p>پارک علم و فناوری دانشگاه صنعتی شریف در سال ۱۳۹۵ تأسیس شد. با شکل‌گیری پارک، فعالیت‌های مرتبط با کارآفرینی و شکل‌گیری شرکت‌های دانش‌بنیان در دانشگاه صنعتی شریف که به تدریج از سال 1379 توسعه یافته بودند، به صورت یکپارچه زیر نظر پارک قرار گرفت.</p>
            <p>این مجموعه به عنوان یک پارک دانشگاهی در نظر دارد تا با ایجاد یک تعامل برد-برد میان بدنۀ علمی دانشگاه و دیگر نهادها به یک الگوی ملی در زمینه‌ توسعه پایدار و ارزش‌آفرینی در سطح جامعه تبدیل شود.</p>
            <p>هویت بخشی به ناحیه نوآوری شریف در اطراف پردیس اصلی دانشگاه و کمک به رونق کسب‌وکارهای فناوران مستقر در این ناحیه یکی از برنامه های مهم پارک محسوب می‌شود.</p>
            <h3>شتاب‌دهندهٔ استعداد بانا</h3>
            <BanaLogo  style="width: 20rem; height: 10rem;" />
            <p>شتاب‌دهندهٔ استعداد بانا یک نظم آموزشی و مشاوره‌ای نوین برای فراگیری مهارت‌های کار تیمی و کمک به اشتغال جوانان است.</p>
            <p>تصمیم‌گیری‌های مهم در مسیر شغلی، آموزش و استخدام از اهداف اصلی شرکت دانش‌بنیان ما،  از آبان سال ۱۳۹۶ تاکنون بوده است.</p>
            <p>ما در بانا همیشه در حال فکرکردن به مفهوم کار و زندگی هستیم...</p>
            <p>و به افراد کمک می‌کنیم تا به یک سؤال مهم جواب بدهند:</p>
            <p>شغل برای شما چه معنایی دارد و برای رسیدن به آن، چه مسیری را انتخاب کرده‌اید یا می‌کنید؟</p>
            <p>یادتان باشد انتخاب مسیر شغلی تصمیمی نیست که فقط یک‌بار در آغاز راه گرفته شود، بلکه فرایندی‌ست تکرارشونده که همواره شما با آن درگیر خواهید بود و نیاز به توجه و مدیریت دارد.</p>
            <p>بااین‌‌حال بسیاری از ما روشی نظام‌مند برای تفکر درمورد موضوع پیچیدهٔ انتخاب یا تغییر شغل در اختیار نداریم و همچنین همهٔ ما تحت‌تأثیر عوامل محیطی و اقتصادی‌ای قرار داریم که فراتر از حیطهٔ کنترل ماست.</p>
            <p>در این شرایط، چگونه می‌توانید در مسیر موفقیت و رضایت باقی بمانید؟</p>
            <p>ما به یک رویکرد ساده و مؤثر می‌اندیشیم. رویکردی که با فضای کاری مدرن و نیازهای شخصی شما هماهنگی داشته باشد.</p>
            <p>ما به شما کمک می‌کنیم تا سیستم کنترل هواپیمای خود را از حالت اتوماتیک خارج کنید، فرمان را در دست بگیرید و به سمتی حرکت کنید که بیشترین میزان رضایت را برای شما به همراه داشته باشد.</p>
            <p>بانا شرایطی را فراهم کرده است که شما بتوانید با کمک مشاورین و آزمون‌های متناسب، علایق، مهارت‌ها، توانمندی‌ها و شخصیت خود را بررسی کنید و به مؤثرترین شکل ممکن آنها را بروز دهید.</p>
            <p>شما می‌توانید با کمک‌گرفتن از مسیرهای رشد و آموزشی که توسط متخصصین در حوزه‌های شغلی مختلف طراحی شده، مسیرهای تازه‌ای را انتخاب و در زمان مناسب طی کنید.</p>
            <p>دانشجویان و فارغ‌التحصیلانی که علاقه‌مند به سرمایه‌گذاری روی توانمندی‌های خود هستند، می‌توانند با ورود به سایت BanaAcc.ir قدم اول را بردارند.</p>
          </section>
          <section aria-label="همراهان " class="layout:stack gap--xxl">
            <h2>همراهان</h2>
            <h3>آژانس دیزاین دیگرگون</h3>
            <DigargoonLogo  style="width: 20rem; height: 10rem;" />
            <p>آژانس دیزاین دیگرگون، همراهی برای ساخت آینده‌ی سازمانهاست.</p>
            <p>اگر می‌خواهید وارد یک بازار جدید شوید یا جایگاهتان را در بازار بهبود بدهید، دیگرگون، مسیری ساخته تا این استراتژی‌های جدید را در قالب خدمات و محصولات دیجیتال و فیزیکی و تجربیات یکپارچه از داخل سازمان تا مشتری طراحی کنید.</p>
            <p>ما متخصص طراحی و همراهی در پیاده‌سازیِ تجربیات یکپارچه هستیم. تجربیاتی که از داخل سازمان تا مشتریان با فرآیندهای کلیدی طراحی می‌شوند و آینده‌ی سازمان را می‌سازند.</p>
            <h3>بیست‌تاسی</h3>
            <BistTaSiLogo  style="width: 20rem; height: 10rem;" />
            <p>بیست‌تا‌سی، مجموعه‌ای از فعالیت‌هاست برای همه آن‌هایی که در بیست تا سی سالگی عمر می‌گذرانند و مشتاق یادگیری، رشد و توسعه فردی، ارتقاء کیفیت زندگی خود و سایرین و آماده شدن برای آینده‌ای تاحدممکن شگفت‌انگیزند.</p>
            <p>ما در ۲۰ سالگی و بیست و چند سالگی گمان می‌کنیم «شغل بعداً سر می‌رسد، ازدواج بعداً اتفاق می‌افتد، بچه ها بعداً به دنیا می‌آیند، حتى مرگ بعداً به سراغ‌مان می‌آید»… دوره‌ای که هر بزرگسالی برای رسیدن به بزرگسالی خود، بی‌شک آن را تجربه و سپری کرده است و هر کودکی احتمالاً روزی آن را تجربه خواهد کرد. در شرایطی که بسیاری از ما تا سى سالگى کاری را شروع می‌کنیم، ازدواج می‌کنیم یا با شریک آینده زندگی خود آشنا می‌شویم , بیشترین تغییر شخصیت در قیاس با هر زمان دیگرى در زندگى طى دهه ٢٠ سالگى اتفاق مى‌افتد، آنگاه جای شگفتی بسیار است که چرا ۲۰ تا ۳۰ سالگی را جدی نمی‌گیریم.</p>
            <p>بیست‌تاسی می‌خواهد به این سؤال پاسخ دهد که چرا دوره بیست تا سی سالگی مهم است و چه می‌توان کرد تا این دوره مهم و کلیدی زندگی افراد، پربارتر و غنی‌تر از آن چیزی شود که می‌توان تصور کرد.</p>
            <p>بیست‌تا‌سی پر است از رویدادها یا محتواهایی که می‌توانید درآن‌ها تجربه‌های افراد محتلف را بشنوید و در مورد تجربه‌های خودتان نیز گفتگو کنید.</p>
            <p>بیست‌تا‌سی را می‌توانید از طریق شبکه‌های اجتماعی و پادکست کافه بیست‌تاسی (در پادگیرهای مختلف) دنبال کنید یا فقط کافی است «بیست‌تاسی» را گوگل کنید.</p>
            <h3>کاربن</h3>
            <KarbonLogo style="width: 20rem; height: 10rem;" />
            <p>کاربن تلاش می‌کند محتوای ناب و ارزش‌آفرین پدید آورد. در کاربن، یک کتاب فقط یک کتاب نیست و سرآغازی برای ماجراجویی است.</p>
          </section>
        </div>
      </div>
</GlobalLayout >

