---
import GlobalLayout from 'src/layouts/GlobalLayout.astro';
---
      <GlobalLayout
        title="حمایت از ۱۰۰۰۰روز"
        description="روش‌های حمایت از ۱۰۰۰۰روز"
        canonical="https://10000rooz.com/support-us/"
      >
      <div class="max-width--page padding--page layout-stack">
        <h1 class="">پشتیبانی از  تیم ۱۰۰۰۰روز</h1>

        <p class="">از روش‌های زیر به ۱۰۰۰۰روز کمک کنید.</p>

        <ul class="layout-stack bullet-list">
          <li class="">
            در خبرنامه ما عضو شوید و ما را در
            {' '}
            <a href="https://instagram.com/10000rooz">اینستاگرام</a>
            {' '}
            دنبال کنید.
          </li>
          <li class="">۱۰۰۰۰روز را به دوستان خود معرفی کنید و مطالب ما را همرسانی کنیم. </li>
          <li class="">
            در صورت دیدن اشتباه ویرایشی یا علمی، از
            {' '}
            <a href="/contact">وببرگ تماس</a>
            {' '}
            با ما گزارش دهید.
          </li>
          <li class="">
            پیشنادات خود را نیز
            {' '}
            <a href="/contact">از همین راه</a>
            {' '}
            بدست ما برسانید.
          </li>
          <li class="">در صورت علاقه‌مندی به کار کردن در تیم ۱۰۰۰۰روز، وببرگ همکاری با ما را ببینید.</li>
          <li class="">
            در صورت تمایل به حمایت مالی از پروژ‌های ۱۰۰۰۰روز یا تعریف پروژه مشترک لطفا وببرگ حمایت از
            {' '}
            <a href="https://instagram.com/10000rooz">۱۰۰۰۰روز</a>
            {' '}
            را ببینید.
          </li>
          <li class="">
            برای اطلاع از شرایط تبلیغ در وبسایت یا اینستاگرام نیز در
            {' '}
            <a href="https://instagram.com/10000rooz">اینستاگرام</a>
            {' '}
            ما پیام دهید.
            {' '}
          </li>
        </ul>

      </div>
</GlobalLayout >