---
import GlobalLayout from 'src/layouts/GlobalLayout.astro';
---
      <GlobalLayout
        title="کار کردن در تیم ۱۰۰۰۰روز"
        description="شیوه درخواست کارکردن در تیم ۱۰۰۰۰روز"
      >
      <div class="max-width--article layout:stack padding--page">
        <h1 class="">کار کردن در تیم ۱۰۰۰۰روز</h1>
        <p class="">چکیده: هم‌اکنون جایگاه شغلی بازی نداریم. اما می‌توانید رزومه یا نمونه کارهای خود بفرستید تا برای جایگاه‌های شغلی آینده در ذهنمان باشید.</p>

        <p class="">
          سپاس کار کردن در ۱۰۰۰۰روز را در نظر گرفتید. بسیار دوست داریم فعالیتمان را گسترش دهیم اما هنوز ظرفیت مدیریت تیم بزرگتر را نداریم.
          اما می‌توانید از روش زیر اقدام کنید تا در هنگام باز شدن جایگاه جدید قبل از دیگران بررسی شوید.
        </p>
        <p class="">درصورتی که ماسب برای یکی از جایگاه‌های شغلی آینده باشید به شما اطلاع می‌ردهیم. ممکن است از شما اطلاعات بیشتری بخواهیم یا بخواهیم اطلاعاتتان را در سامانه دیگری دوباره بفرستید.</p>
        <p class="">ما تلاش می‌کنیم دستمزدها را منصفانه تعریف کنیم اما به دلیل توان مالی محدود تیم، رقابت‌پذیر با سازمان‌های بزرگتر نخواهد بود.</p>
        <p class="">همکاری در ۱۰۰۰۰روز به صورت دورکاری است.</p>

        <h2 class="">روش اعلام تمایل به همکاری</h2>
        <p class="">به نشانی زیر یک ایمیل ارسال کنید.</p>
        <a href="mailto:10000rooz@gmail.com">10000rooz@gmail.com</a>

        <h3 class="">رزومه یا نمونه کارهای خود را پیوست کنید.</h3>
        <p class="">اگر رزومه یا نمونه کار شما آنلاین است می‌توانید پیوند‌های آن را در ابتدای متن ایمیل خود بگذارید.</p>
        <p class="">می‌توانید نشانی لینکدین خود را به جای رزومه یا همراه با آن بفرستید.</p>
        <p class="">فرستادن نمونه‌کار اختیاری است اما برای ما ارزش بیشتری نسبت به رزومه دارد. </p>

        <h3 class="">عنوان ایمیل را به صورت زیر بنویسید:</h3>

        <p class="">خواستار همکاری | نام نام خانوادگی | زمینه همکاری</p>
        <p class="">نمونه: خواستار همکاری | نسرین کشاورز | تولید محتوا و شبکه‌های اجتماعی</p>

        <h3 class="">در متن ایمیل، پاسخ پرسش‌های زیر بنویسید. </h3>
        <p class="">این بخش اختیاری است اما کمک‌کننده است:</p>
        <p class="">چرا دوست دارید با تیم ما همکاری کنید.</p>
        <p class="">دوست دارید بر روی چه چیزی کار کنید یا چه چیزی را به ۱۰۰۰۰روز بیافزایید. </p>

      </div>
      </GlobalLayout>
