---
---
    <a href="/surveys/major">
      <section aria-label="مقدمه" className={`herofull-width flex j-center a-center major-cat-clr`}>
        <div className={`banner 'flex column gap--xl max-width--page width--100 padding--l border-radius `}>
          {/* <h1 className={`${styles.websiteTitle, 'sr-only')}>۱۰۰۰۰روز</h1> */}
          {/* <p className={styles.bannerFirstSentence}>گزارش نظرسنجی انتخاب رشته منتشر شد!</p> */}
          <div className={`wrapper flex j-space-between a-center gap--s`}>
            <div className="width--100">
              <p className={`title`}>
                <span className="font-size--xl font-weight--800">
                  گزارش نظرسنجی
                </span>
                <span className="font-weight---900 ">
                  انتخاب رشته
                </span>
                <span className="font-size--xl font-weight--800">
                  منتشر شد!
                </span>
              </p>
              <div className={`buttonflex j-center a-center gap--s margin-top--xxl`}>
                <Icon icon={ReceiveSquare} alt="" />
                دانلود رایگان گزارش
              </div>
            </div>
            <div className={`graphShape  flex desktop-only`} aria-hidden>
              <img src="/images/sample-graph.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
    </a>