---
import { ThemeSwitch } from 'astro-color-scheme';
import { Icon } from '@/components/uikit';
import { Moon, Sun1 } from 'iconsax-react';
---

<ThemeSwitch strategy='button'>
  <button type='button' class={`color-switch-button `}>
    <Icon icon={Sun1} variant='Bold' alt='enable light color theme' className='dark-only color-switch-svg  hasNoTextAfter' />
    <Icon
      icon={Moon}
      variant='Bold'
      alt='enable dark color them '
      className='light-only color-switch-svg isMirrored hasNoTextAfter'
    />
  </button>
</ThemeSwitch>

<style lang='scss' is:global>
  .color-switc-button {
    line-height: 1;
    outline: none;
    padding: var(--padding--s);
    padding-right: 0;
  }
  .color-switc-button:hover {
    color: var(--clr-primary);
    color: #21aa74; // to match major report banner
  }

  .color-switch-svg {
    margin-inline-start: 0 !important;
  }

  .light .dark-only {
    display: none;
  }

  .dark .light-only {
    display: none;
  }
</style>
