---
const { onClick, className } = Astro.props;
---

    <button date-menu-toggle type="button" onClick={onClick} className={className}>
      <span class="sr-only">منو وبسایت</span>
      <style>

</style>
    </button>


    <script>
import { toggleMenu } from 'src/scripts/menu';
const hambergurButton = document.querySelectorAll('[data-menu-toggle]');

hambergurButton?.forEach(btn => {
  btn.addEventListener('click' , () => {
    toggleMenu();
  })
});

  </script>