---
const props = Astro.props;
---

    <button date-menu-toggle type="button" class={props.class}>
      <span class="sr-only">منو وبسایت</span>
    </button>


    <script>
import { toggleMenu } from 'src/scripts/menu';
const hambergurButton = document.querySelectorAll('[data-menu-toggle]');

hambergurButton?.forEach(btn => {
  btn.addEventListener('click' , () => {
    toggleMenu();
  })
});

  </script>