---
import Svg from "@jasikpark/astro-svg-loader";

export interface Props {
}

---
    <span class="logoImage">
         <Svg 
          src={import(`/public/logos/10000rooz-logo-2.svg?raw`)}
          class='logoSvg'
          />
    </span>
<style lang='scss'>
  .logoImage {
  // height: max-content;
  // width: max-content;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  /* flex-direction:column; */
  gap: var(--gap);
  
  .logoSvg {
    width: 7.8rem !important;
    
    @media screen and (max-width: 50rem) {
      width: 6rem;
    }
    
    @media screen and (max-width: 20rem) {
      width: 5rem;
    }
  }
}
</style>